.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  color: var(--text-100);
}

.home_intro {
  i {
    color: var(--primary-100);
  }
  p {
    font-size: 20px;
    padding-block: var(--pad-md);
    margin: 0 auto;
    width: 60%;
  }
}

.home_categories span{
  font-size: 18px;
  padding-block: var(--mar-lg);
  color: var(--text-200);
}

.home_info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  div {
    padding-inline: var(--pad-lg);

    h3 {
      margin-bottom: var(--mar-sm);
      color: var(--primary-100);
      font-weight: 600;
    }

    p {
      max-width: 500px;
      font-size: 18px;
    }
  }
}

.home_elements {
  margin-top: var(--mar-lg);

  .element_preview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    align-items: start;
    margin-block: var(--mar-lg);
  }
}

@media (max-width: 600px) {
  .home_intro p {
    width: 90%;
  }

  .home_info {
    flex-direction: column;
    div {
      padding-inline: var(--pad-md);
      p {
        font-size: 16px;
      }
    }
  }
}
