.filter_container {
  color: var(--text-100);
  background-color: var(--bg-200);
  border-radius: var(--radius-100);
  height: fit-content;
  padding: var(--pad-xs);
  margin-right: var(--mar-md);
  width: fit-content;
  border: 2px solid var(--primary-300);

  h2 {
    font-size: clamp(1.4rem, 2vw, 1.5rem);
    margin: var(--mar-md);
  }
}

.panel {
  box-shadow: 2px 2px 17px -3px var(--bg-100) inset;
  border-radius: var(--radius-100);
  margin-inline: var(--mar-md);
  padding: var(--pad-xs);

  .filter_section {
    margin: var(--mar-lg);

    .options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      padding-block: var(--pad-sm);
      gap: var(--pad-xs);
      .chip {
        margin: var(--mar-xs);
      }
    }

    @media (max-width: 1024px) {
      .options {
        grid-template-columns: 1fr;
      }
      .active_filters .active_list button {
        padding: var(--pad-xs);
      }
    }

    @media (max-width: 768px) {
      .panel {
        margin-inline: var(--mar-sm);
      }
      .options {
        grid-template-columns: 1fr;
      }

      .options button {
        padding-inline: 2px;
        font-size: 10px;
        border-radius: var(--radius-100);
      }
    }
  }
}

.active_filters {
  margin: var(--mar-lg);

  .active_list {
    margin-block: var(--mar-sm);

    .remove_tag {
      padding-inline: var(--pad-md);
      margin-left: var(--mar-sm);
    }
  }
}

@media (max-width: 1024px) {
  .active_filters .active_list {
    span {
      font-size: 0.9rem;
    }
    .remove_tag {
      padding: var(--pad-xs) var(--pad-sm);
      border-radius: var(--radius-100);
    }
  }
  .clear_all {
    padding-inline: var(--pad-sm);
    border-radius: var(--radius-100);
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .active_filters .active_list {
    span {
      font-size: 0.7rem;
    }
  }
  .filter_section {
    margin: var(--mar-md);
  }
}
