.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 200px;   
  border-radius: var(--radius-100);
  border: 2px solid var(--text-100);
  cursor: pointer;
  /* aspect-ratio: 16 / 9; */
}

.card_preview {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
  background-color: var(--bg-300);
  cursor: pointer;
}

.card_overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25%;
  transform: translateY(100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.65));
  background-image: linear-gradient(
    180deg,
    color-mix(in srgb, var(--primary-200) 1%, transparent),
    color-mix(in srgb, var(--primary-100) 12%, var(--bg-300))
  );
  backdrop-filter: blur(6px);
  color: #fff;
  transition: transform 300ms ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.card:hover .card_overlay,
.card_overlay:hover {
  transform: translateY(0);
}

.card_overlay h3 {
  padding-left: var(--pad-sm);
  font-weight: 700;
  letter-spacing: 0.2ch;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}


.card_overlay svg {
  margin-right: var(--mar-sm);
  padding: var(--pad-xs);
  border-radius: var(--radius-100);
  border: 2px solid var(--text-100);
  stroke: var(--accent-100);
  transition: all 200ms ease-in-out;
  &:hover {
    background-color: var(--accent-100);
    stroke: var(--text-100);
    cursor: pointer;
  }
}


