.cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.flip-card {
  width: 200px;
  height: 180px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  font-weight: 700;
  overflow: hidden;
}

.flip-card > div {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: var(--radius-100);
  border: 2.5px solid var(--text-100);
  background-color: var(--bg-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.7s ease;
  z-index: 1;
}

.flip-card svg {
  width: 50px;
  height: 50px;
  padding-bottom: var(--pad-sm);
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.flip-card.flipped .front {
  transform: rotateY(-180deg);
}

.flip-card.flipped .back {
  transform: rotateY(0deg);
}
