.playBook_page {
  display: flex;
  align-items: flex-start;
}

.filter {
  flex: 1 1 20%;
  max-width: 50%;
  min-width: 0;
}

.playBook_container {
  flex: 1 1 80%;
  max-width: 100%;
  min-width: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);  
  gap: 1rem;
  align-items: start;
  width: 100%;
}

.playBook_container .loader {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}



.no_items{
  color: var(--accent-100);
  background-color: var(--bg-300);
  border: 2px solid var(--accent-100);
  padding-block: var(--pad-lg);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

