button{
    padding-inline: var(--pad-lg);
    padding-block: var(--pad-sm);

    background-color: var(--bg-200);
    color: var(--text-100);

    border-radius: var(--radius-200);
    border: 2px solid var(--primary-200);
    font-weight: 600;

    cursor: pointer;
    transition: all .3s ease-in-out;
}
button:hover{
    background-color: var(--primary-200);
    border: 2px solid var(--text-100);
    animation: buttonBounce 1s infinite;
}

@keyframes buttonBounce{
    0%,100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(5%);
    }
}